body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black
}

.profilePic{
  border-radius: 50%;
  border-style: solid;
  border-color: purple;
  width: 35%;
  height: 35%;
}

.mainText{
  color: #36457A;
  padding-top: 5%;
  padding-left: 50%;

}

.rollNo{
  padding-left: 20%;
}

.college{
  padding-left: 13%;
}

.bio{
  color: #950A51;
  padding: 5%;
}

.workExperience{
  list-style-type: none;
}

.point{
  padding: 1%;
}

.work{
  color: #094370;
}